
.headerStyle{
    margin-bottom: 10px;
    background: linear-gradient(to right, #252525, #555555);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.7%;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.titleStyle{
    margin: 0;
    padding: 10px 0;
    font-size: 24px;
}

.headerButtons {
    display: flex;
    justify-content: space-between; /* Düğmeleri eşit aralıklarla hizala */
    align-items: center; /* Düğmeleri dikeyde ortala */
}

.myButton{
    text-decoration: none;
    color: white;
    background-color: #333333;
    padding: 10px 40px;
    margin-left: 10px;
    font-family: Arial;
    border-radius: 10px;
    letter-spacing: 2px; /*Harfler arasındaki boşluk*/
    font-weight: bold;
    border-bottom: 5px solid white;
    transition: all 0.3s;
}

.myButton:hover{
    background-color: #222222;
}

.myButton:active{
    border-bottom: none;
    padding-top: 5px;
    padding-bottom: 15px;
}