*{
    box-sizing: border-box;
}

.bodyStyle {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3vh;
    width: 50vw;
    height: 60vw;
    color: #000000;
    border: 0.5vw solid grey;
    background: linear-gradient(to bottom right, #600, #036);
}

.leaderBoard{

}

.block-text {
    margin-top: 3vh;
    margin-bottom: 4vh;
    display: inline-block;
    font-size: 5vw;
}


.mainStyle{
    display: flex;
    align-items: center;
}
.rectStyle{
    margin-bottom: 5vh;
    margin-right: 3vw;
    width:5vw;
    height: 8vh;
}
.textBox{
    width: 15vw;
    height: 2vw;
    backgroundColor: #333;
    fontSize: 1.5em;
    marginLeft: 1vw;
    marginBottom: 1vw;
    background: #222222;
}

.headerStyle{
    width: 98vw;
    height: 10vh;
    margin-top: 1vh;
    background: linear-gradient(to right, #252525, #555555);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.7vh;
    border-radius: 1vw;
    box-shadow: 0 0.3vh 0.3vh rgba(0, 0, 0, 0.2);
}

#site-name-style{
    text-decoration: none;
    display: flex;
    margin: 0;
    padding: 1vw 0;
    font-size: 1.5vw;
    color: yellow;
}
#id-style{
    font-size: 1vw;
}

.headerButtons {
    display: flex;
    justify-content: space-around; /* Düğmeleri eşit aralıklarla hizala */
    align-items: center; /* Düğmeleri dikeyde ortala */

}

.myButton {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    background-color: #333333;
    margin: 1vh 1vw;
    border-radius: 0.6vw;
    letter-spacing: 0.1vw;
    font-weight: bold;
    border-color: #555555 #222222 #222222 #555555;
    border-width: 0.4vw;
    border-style: solid;
    transition: all 0.3s;
    width: 10vw;
    height: 2.3vw;
    font-size: 1vw;
}

.myButton:hover{
    background-color: #222222;
}
.myButton:active{
    border-color: #222222 #555555 #555555 #222222; /*butona basma hissiyatı için renklendirme*/
}

#background-video{
    position: fixed;
    min-width: 100%;
    min-height: 100%;
}

/*MineSweeper*/

#information-box{
    margin-top: 5px;
    display: flex;
    width: 510px;
    height: 50px;
    background-color: #A9A9A9;
    border: 5px solid;
    border-color: #282828 #DCDCDC #DCDCDC #282828;
    padding: 0px 10px;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

#text-game-over{
    font-size: 20px;
    color: red;
    order: 2;
}
#container{
    width: 540px;
    height: 600px;
    padding: 10px;
    background-color: #909090;
    border: 5px solid;
    border-color: #DCDCDC #282828 #282828 #DCDCDC;
    flex-direction: column;
}

.cell {
    width: 30px; /* Hücre genişliği */
    height: 30px; /* Hücre yüksekliği */
    background-color: #f0f0f0; /* Hücre arka plan rengi */
    border: 1px solid #000; /* Hücre sınırları */
}

