body {

  font-family: 'Courier New',
  Courier,
  monospace;
  text-align: center;
  font-size: small;
  font-style:italic;
  font-weight: bold;
  color: #FFF;
  background: linear-gradient(in hsl longer hue, #ff5e62, #ff9966);
}

#board {
  border: 5px solid #222;
}

.container {
  margin-bottom: 20px;

}

.credits {
  font-size: 24px;
  /* Adjust the font size as needed */
  animation: changeColor 1s infinite;
}